<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head">
</head>

<body>

    <!-- Navigation -->
    <header th:replace="fragments/commons::navigation">
    </header>
    <!-- End Navigation -->

    <h2 class="text-center pt-3">Admin panel</h2>

    <div class="row p-4">
        <div class="card card-body">
            <div class="table-responsive">
                <table class="table table-centered mb-0">
                    <thead>
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">role</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${allUsers}">
                            <th
                                    th:text="*{user.id}" scope="row">
                                1
                            </th>
                            <td class="hover">
                                <img src="/images/company.png" alt="profileIcon" width="45" height="45"
                                    class="rounded-circle">
                                <a th:href="@{/profile/{id}(id = *{user.id})}"
                                   th:text="*{user.name}" class="text-body">CompanyName</a>
                            </td>
                            <td
                                    th:text="*{user.email}">email@email.com</td>
                            <td>role</td>
                            <td>
                                <form>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

</html>