<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head">
</head>


<body>

    <!-- Navigation -->
    <header th:replace="fragments/commons::navigation">
    </header>
    <!-- End Navigation -->

    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row justify-content-center">

            <div class="col-md-8">
                <div class="p-3 py-5">
                    <h3>Create Project</h3>
                    <br>

                    <form>
                        <div class="row mt-3">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input class="form-control" type="text" id="title" placeholder="Title of the project">
                            </div>
                            <p class="alert alert-danger">
                                Title is required.
                            </p>
                            <div class="form-group mt-4">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="description" rows="13"
                                    placeholder="Description of the project"></textarea>
                            </div>
                            <p class="alert alert-danger">
                                Description is required.
                            </p>
                        </div>
                        <br>
                        <p>Choose tehnologies</p>
                        <div class="row mt-3">

                            <div class="form-check mx-2 col">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckJava">
                                <label class="form-check-label" for="flexCheckJava">
                                    Java
                                </label>
                            </div>
                            <div class="form-check mx-2 col">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckC#">
                                <label class="form-check-label" for="flexCheckC#">
                                    C#
                                </label>
                            </div>
                            <div class="form-check mx-2 col">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckPython">
                                <label class="form-check-label" for="flexCheckPython">
                                    Python
                                </label>
                            </div>
                            <div class="form-check mx-2 col">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckC">
                                <label class="form-check-label" for="flexCheckC">
                                    C
                                </label>
                            </div>
                            <div class="form-check mx-2 col">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckPHP">
                                <label class="form-check-label" for="flexCheckPHP">
                                    PHP
                                </label>
                            </div>
                            <div class="form-check mx-2 col">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckJavaScript">
                                <label class="form-check-label" for="flexCheckJavaScript">
                                    JavaScript
                                </label>
                            </div>
                            <div class="form-check mx-2 col">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckC++">
                                <label class="form-check-label" for="flexCheckC++">
                                    C++
                                </label>
                            </div>
                            <p class="alert alert-danger">Mark the necessary technologies.</p>
                        </div>

                    </form>
                    <div class="mt-4 text-center">
                        <button class="btn btn-primary profile-button" type="submit">Create Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>