<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head">
</head>

<body>

  <!-- Navigation -->
  <header th:replace="fragments/commons::navigation">
  </header>
  <!-- End Navigation -->

  <section >
    <div class=" container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Wellcome !</h3>

            <form
                    th:object="${userLoginBindingModel}"
                    th:action="@{/login}"
                    th:method="post">
              <div class="form-outline mb-4">
                <input
                        th:field="*{username}"
                        th:errorclass="is-invalid"
                        type="text"
                        id="username" class="form-control form-control-lg"
                  placeholder="Enter username">
                <p class="invalid-feedback alert alert-danger">
                  Invalid username!
                </p>
              </div>

              <div class="form-outline mb-4">
                <input
                        th:field="*{password}"
                        th:errorclass="is-invalid"
                        type="password" id="password" class="form-control form-control-lg"
                  placeholder="Enter password">
                <p class="invalid-feedback alert alert-danger">
                  Invalid password!
                </p>
              </div>

              <p th:if="${isExists == false}" class="alert alert-danger">
                Invalid username or password.
              </p>

              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-start mb-4">
                <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                <label class="form-check-label" for="rememberPasswordCheck"> Remember password </label>
              </div>

              <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>

            </form>

            <a class="d-block text-center mt-2 small" href="/register">Need an account?</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</body>

</html>