<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head">
</head>


<body>

  <!-- Navigation -->
  <header th:replace="fragments/commons::navigation">
  </header>
  <!-- End Navigation -->

  <div class="container mt-4 mb-4 p-3 w-50  justify-content-center">
    <div class="card p-4">

      <!-- Profile Info -->
      <div th:object="${user}" class="d-flex flex-column justify-content-center align-items-center">
        <h2 th:if="${user.getId() == currentUserId}">My Profile</h2>
        <p th:if="${user.deleted} == true" class="alert alert-danger">
          This account has been deleted.
        </p>
        <img th:if="${userRoleNameInString == 'STUDENT'}" src="/images/student.png" class="rounded-circle" alt="profileIcon" height="100" width="100">
        <img th:if="${userRoleNameInString== 'COMPANY'}" src="/images/company.png" class="rounded-circle" alt="profileIcon" height="100" width="100">
        <img th:if="${userRoleNameInString == 'ADMIN'}" src="/images/admin.png" class="rounded-circle" alt="profileIcon" height="100" width="100">

        <h5 class="mt-3">Name</h5>
        <span th:text="*{name}">Name</span>

        <h5 class="mt-3">Username</h5>
        <span th:text="*{username}">Username</span>

        <h5 class="mt-3">Email</h5>
        <span th:text="*{email}">@email</span>

        <h5 class="mt-3">Description</h5>
        <p th:text="*{description}" class="w-100">Opisane na potrebitelq Lorem ipsum, dolor sit amet consectetur adipisicingm, dolor sit amet
          consectetur adipisicingm, dolor sit amet consectetur adipisicing elit. Inventore reiciendis vero
          of
        </p>

        <h5 class="mt-3">Favourite technology</h5>
        <p th:text="${technologyNameInString}">Java/ C#/ Ptyhon/ PHP</p>

        <th:block th:if="${user.getId() == currentUserId}">
          <div th:object="${user}" class=" d-flex mt-2">
            <a th:href="@{{id}/editProfile(id = *{id})}" class="btn btn-dark">Edit Profile</a>
          </div>
        </th:block>
      </div>

    </div>

  </div>
</body>

</html>