<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons::head">
</head>


<body>

    <!-- Navigation -->
    <header th:replace="fragments/commons::navigation">
    </header>
    <!-- End Navigation -->

    <div class="container rounded bg-white mt-5 mb-5 p-3">
        <div th:object="${project}" class="row justify-content-center">
            <div class="col-md-8">
                <p th:if="${project.deleted} == true" class="alert alert-danger text-center">
                    This project has been deleted.
                </p>
                <h3 th:text="*{title}" class="text-center m-4">Title of the project</h3>
                <a th:href="@{/profile/{id}(id = *{author.getId()})}"
                   class="text-decoration-none text-body">
                    <h6 th:text="|Author:   *{author.name}|" class="text-end">Company name</h6>
                </a>
                <hr>
                <p th:text="*{project_description}" class="mt-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus saepe, doloremque
                    explicabo nemo asperiores at corporis voluptatum sint blanditiis maiores dolores molestias illo
                    voluptate quae rem nulla nobis sequi.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Consequuntur voluptatibus saepe, doloremque explicabo nemo asperiores at corporis voluptatum sint
                    blanditiis maiores dolores molestias illo voluptate quae rem nulla nobis sequi.Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Consequuntur voluptatibus saepe, doloremque explicabo nemo
                    asperiores at corporis voluptatum sint blanditiis maiores dolores molestias illo voluptate quae rem
                    nulla nobis sequi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus
                    saepe, doloremque explicabo nemo asperiores at corporis voluptatum sint blanditiis maiores dolores
                    molestias illo voluptate quae rem nulla nobis sequi.Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Consequuntur voluptatibus saepe, doloremque explicabo nemo asperiores at corporis
                    voluptatum sint blanditiis maiores dolores molestias illo voluptate quae rem nulla nobis sequi.Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus saepe, doloremque
                    explicabo nemo asperiores at corporis voluptatum sint blanditiis maiores dolores molestias illo
                    voluptate quae rem nulla nobis sequi.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Consequuntur voluptatibus saepe, doloremque explicabo nemo asperiores at corporis voluptatum sint
                    blanditiis maiores dolores molestias illo voluptate quae rem nulla nobis sequi.Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Consequuntur voluptatibus saepe, doloremque explicabo nemo
                    asperiores at corporis voluptatum sint blanditiis maiores dolores molestias illo voluptate quae rem
                    nulla nobis sequi.
                </p>
                <hr>
                <h5>Tehnologies:</h5>
                <div class="row">
                    <span th:text="${technologyNameInString}" class="col">Java</span>
                </div>

                <p th:if="${isLinkNotCorrect} == true" class="alert alert-danger">
                    Please enter correct link for github repository like "https://github.com/{githubUsername}/{githubRepoName}"
                </p>

            </div>
        </div>

        <th:block th:if="${project.isDeleted() == false}">
            <div class="d-grid d-md-flex justify-content-between mt-4 ">

                <!-- Participants Button trigger modal -->
                <button type="button" class="btn btn-primary btn-outline-dark btn-lg m-4" data-bs-toggle="modal"
                        data-bs-target="#participants">
                    All participants
                </button>

                <!-- Participants Modal -->
                <div class="modal fade" id="participants" tabindex="-1" aria-labelledby="allParticipants"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="allParticipants">All participants</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <th:block th:if="${allParticipants.isEmpty()}">
                                    <td colspan="2"> No Participants</td>
                                </th:block>
                                <a
                                        th:each="particpant : ${allParticipants}"
                                        th:href="@{/profile/{id}(id = *{particpant.getParticipant().id})}"
                                        class="list-group-item list-group-item-action d-flex gap-3
                                     py-3 hover" aria-current="true">
                                    <img src="/images/student.png" alt="profileIcon" width="45" height="45"
                                         class="rounded-circle">
                                    <div class="d-flex gap-2 w-100 justify-content-between">
                                        <div>
                                            <p th:text="*{particpant.getParticipant().name}" class="mb-0 fw-bold">FirstName</p>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <th:block th:if="!${isParticipant}">
                    <form sec:authorize="!hasRole('COMPANY')"
                          th:method="post"
                          th:object="${project}"
                          th:action="@{/project/{id}(id = *{id})}">
                        <button type="submit" class="btn btn-primary btn-outline-dark btn-lg m-4">Participate</button>
                    </form>
                </th:block>

                <th:block th:if="${isParticipant}">

                    <!-- Submit Button trigger modal -->
                    <th:block th:if="!${isSubmitted}">
                        <button type="button" class="btn btn-primary btn-outline-dark btn-lg m-4" data-bs-toggle="modal"
                                data-bs-target="#submitProject">
                            Submit
                        </button>
                    </th:block>

                    <th:block th:if="${isSubmitted}">
                        <button class="btn btn-primary btn-outline-dark btn-lg m-4 disabled">Submitted</button>
                    </th:block>

                    <!-- Submit Modal -->
                    <div class="modal fade" id="submitProject" tabindex="-1" aria-labelledby="submit" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="submit">Submit project</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <form th:method="post"
                                      th:action="@{/submit/{id}(id = ${project.id})}"
                                      th:object="${submitLinkBindingModel}" >
                                    <div class="modal-body">
                                        <label>Enter link for your github repository</label>
                                        <input th:field="*{link}" type="text"
                                               th:errorclass="is-invalid" class="form-control" required autofocus>
                                        <p th:if="${isLinkNotCorrect} == true" class="alert alert-danger">
                                            Please enter correct link for github repository like "https://github.com/{githubUsername}/{githubRepoName}"                                    </p>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Submit project</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </th:block>

                <th:block th:if="!${currentUserRoleNameInString.equals('STUDENT')} and ${isAuthor}">
                    <a th:href="@{/uploaded/{id}(id = *{project.id})}"
                       class="btn btn-primary btn-outline-dark btn-lg m-4">Uploaded</a>
                </th:block>
            </div>
        </th:block>
    </div>


</body>

</html>