<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head">
</head>

<body>

  <!-- Navigation -->
  <header th:replace="fragments/commons::navigation">
  </header>
  <!-- End Navigation -->


  <!-- For Company -->


  <div class="card mx-4 my-4 border border-dark H">

    <h2 class="text-center pt-3">My Tasks</h2>

    <div class="row gx-0 overflow-auto">
      <div class="table-responsive">
        <table class="table table-centered mb-0">
          <tbody>
            <tr>
              <td class="hover border">
                <img src="images/company.png" alt="profileIcon" width="45" height="45" class="rounded-circle m-1">
                <a href="#" class="text-body">CompanyName</a>
              </td>
              <td class="hover border">
                <a href="" class="nav-link">
                  <h6 class="mb-0">List group item heading</h6>
                </a>
              </td>
            </tr>
            <tr>
              <td class="hover border">
                <img src="/images/company.png" alt="profileIcon" width="45" height="45" class="rounded-circle m-1">
                <a href="#" class="text-body">CompanyName</a>
              </td>
              <td class="hover border">
                <a href="" class="nav-link">
                  <h6 class="mb-0">Another title here</h6>
                </a>
              </td>
            </tr>
            <tr>
              <td class="hover border">
                <img src="/images/company.png" alt="profileIcon" width="45" height="45" class="rounded-circle m-1">
                <a href="#" class="text-body">CompanyName</a>
              </td>
              <td class="hover border">
                <a href="" class="nav-link">
                  <h6 class="mb-0">Third heading</h6>
                </a>
              </td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>

  </div>


  <!-- For Students -->
  <div class="card mx-4 my-4 border border-dark H">

    <h2 class="text-center pt-3">My Tasks</h2>

    <div class="row gx-0">
      <div class="col px-5 py-2 d-flex">
        <span class="mx-2 mt-2">Order by</span>
        <select class="form-select w-auto" aria-label="Default select example">
          <option selected>All</option>
          <option value="1">In progress</option>
          <option value="2">Complete</option>
        </select>
      </div>
    </div>

    <div class="row gx-0 overflow-auto">
      <div class="table-responsive">
        <table class="table table-centered mb-0">
          <tbody>
            <tr>
              <td class="hover border">
                <img src="/images/company.png" alt="profileIcon" width="45" height="45" class="rounded-circle m-1">
                <a href="#" class="text-body">CompanyName</a>
              </td>
              <td class="hover border">
                <a href="" class="nav-link">
                  <h6 class="mb-0">List group item heading</h6>
                </a>
              </td>
              <td class="hover border">
                <img src="/images/inProgress.png" alt="In Progress" width="45" height="45">
              </td>
            </tr>
            <tr>
              <td class="hover border">
                <img src="/images/company.png" alt="profileIcon" width="45" height="45" class="rounded-circle m-1">
                <a href="#" class="text-body">CompanyName</a>
              </td>
              <td class="hover border">
                <a href="" class="nav-link">
                  <h6 class="mb-0">Another title here</h6>
                </a>
              </td>
              <td class="hover border">
                <img src="/images/complete.png" alt="In Progress" width="45" height="45">
              </td>
            </tr>
            <tr>
              <td class="hover border">
                <img src="/images/company.png" alt="profileIcon" width="45" height="45" class="rounded-circle m-1">
                <a href="#" class="text-body">CompanyName</a>
              </td>
              <td class="hover border">
                <a href="" class="nav-link">
                  <h6 class="mb-0">Third heading</h6>
                </a>
              </td>
              <td class="hover border">
                <img src="/images/inProgress.png" alt="In Progress" width="45" height="45">
              </td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>

  </div>

</body>

</html>